
@{
    ViewBag.Title = "Listing";
}

<section class="section-0">
    <div class="container">
        <div class="search-wrapper">
            <div class="search-box">
                <input type="text" class="focus">
                <button class="seperate clickShow"><i class="fa-solid fa-xmark"></i></button>
                <button><i class="fa-solid fa-magnifying-glass search"></i></button>
                <button class="btnCreate">Create</button>
            </div>
        </div>
    </div>
</section>


<section class="section-1">
    <div class="container">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Salary</th>
                        <th>City</th>
                        <th>Task</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sachin</td>
                        <td>Male</td>
                        <td>22</td>
                        <td>12000</td>
                        <td>Delhi</td>
                        <td>
                            <a href="#">Edit  <i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="#">Delete  <i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Adil</td>
                        <td>Male</td>
                        <td>28</td>
                        <td>13000</td>
                        <td>Karachi</td>
                        <td>
                            <a href="#">Edit  <i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="#">Delete  <i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>venkat</td>
                        <td>Male</td>
                        <td>20</td>
                        <td>14000</td>
                        <td>London</td>
                        <td>
                            <a href="#">Edit  <i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="#">Delete  <i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Sourabh</td>
                        <td>Male</td>
                        <td>37</td>
                        <td>17000</td>
                        <td>Bhopal</td>
                        <td>
                            <a href="#">Edit  <i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="#">Delete  <i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('.focus').on({
            keydown: function () {
                $('.clickShow').css('display', 'block');
            }
        });

        $('.clickShow').click(function () {
            $('.clickShow').css('display', 'none')
        });

    });  //--> Here is Close document read function().

</script>
