
@{
    ViewBag.Title = "Create";
}

<style>
    .error {
        font-size: 1.3rem;
        font-family: 'Raleway-Bold';
        /*margin-left: 5rem;*/
        color: red;
        padding-left: 1.2rem;
    }

    #Class-error {
    }
</style>

<section class="section-3">
    <div class="container">
        <div>
            <form class="form" id="studentFormSerialize">
                <div class="input-box">
                    <input type="text" name="Name" placeholder="Enter name" required>
                </div>
                <div class="input-box">
                    <input type="text" name="Class" placeholder="Enter Class">
                </div>
                <div class="input-box">
                    <input type="text" name="Gender" placeholder="Enter Gender">
                </div>
                <div class="input-box">
                    <input type="text" name="Age" placeholder="Enter Age">
                </div>
                <div class="input-box">
                    <input type="text" name="Fees" placeholder="Enter Fees">
                </div>
                <div class="input-box">
                    <input type="text" name="City" placeholder="Enter City">
                </div>
                <div class="input-box">
                    <input type="text" name="Address" placeholder="Enter Address">
                </div>
                @*<div class="input-box">
                        <input type="date" name="AddmissionSession" placeholder="Enter Addmission Session">
                    </div>*@
                <div class="flex">
                    <button type="button" class="btn btn-primary" id="saveStudent">Save</button>
                    <button type="button" class="btn btn-cancel" id="cancelButton">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        //--> Save Student functionality.
        $('#saveStudent').click(function () {
            debugger;
            if ($('#studentFormSerialize').valid())
            {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Create", "Student")',
                    data: $('#studentFormSerialize').serialize(),
                    success: function (response) {
                        $('#actionContainer').html('');
                    },
                    error: function (error) {
                        swal("Oosps something went wrong !! " + error.status);
                    }
                });
            }
            else
            {
                swal("Please Enter All Required Fields");
            }

        });

        $('#studentFormSerialize').validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 1,
                    maxlength: 20
                },
                Class: {
                    required: true,
                },
                Gender: {
                    required: true
                },
                Age: {
                    required: true
                },
                Fees: {
                    required: true
                },
                City: {
                    required: true
                },
                Address: {
                    required: true
                }
            },
            messages: {
                Name: {
                    required: 'Please Enter The valid Name*.',
                    minlength: 'Minimum length is 1.',
                    maxlength: 'Please Enter No More Than 20 Characters.'
                },
                Class: {
                    required: 'Please Enter The Class.'
                },
                Gender: {
                    required: 'Please Enter The valid Gemder*.',
                },
                Age: {
                    required: 'Please Enter The valid age*.',
                },
                Fees: {
                    required: 'Please Enter The valid Fees*.',
                },
                City: {
                    required: 'Please Enter The valid city*.',
                },
                Address: {
                    required: 'Please Enter The valid Address*.',
                }
            }
        });

        //--> Cancel button functionality.
        $('#cancelButton').click(function () {
            $('#actionContainer').html('');
            focusAction('tableContainer');
        });

    });  //--> Here is close document ready function();
</script>