
@{
    ViewBag.Title = "Create";
}

<section class="section-3">
    <div class="container">
        <div>
            <form class="form">
                <div class="input-box">
                    <input type="text" placeholder="Enter name">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Enter gender">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Enter age">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Enter salary">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Enter city">
                </div>
                <div class="flex justify-content">
                    <button class="btn btn-primary">Save</button>
                    <button class="btn btn-cancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</section>