
@{
    ViewBag.Title = "Create";
}

<section class="section-3">
    <div class="container">
        <div>
            <form class="form" id="studentFormSerialize">
                <div class="input-box">
                    <input type="text" name="Name" placeholder="Enter name">
                </div>
                <div class="input-box">
                    <input type="text" name="Class" placeholder="Enter Class">
                </div>
                <div class="input-box">
                    <input type="text" name="Gender" placeholder="Enter Gender">
                </div>
                <div class="input-box">
                    <input type="text" name="Age" placeholder="Enter Age">
                </div>
                <div class="input-box">
                    <input type="text" name="fees" placeholder="Enter Fees">
                </div>
                <div class="input-box">
                    <input type="text" name="City" placeholder="Enter City">
                </div>
                <div class="input-box">
                    <input type="text" name="Address" placeholder="Enter Address">
                </div>
                @*<div class="input-box">
                    <input type="date" name="AddmissionSession" placeholder="Enter Addmission Session">
                </div>*@
                <div class="flex">
                    <button class="btn btn-primary" id="saveStudent">Save</button>
                    <button class="btn btn-cancel" id="cancelButton">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        //--> Save Student functionality.
        $('#saveStudent').click(function () {
            debugger;
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Student")',
                data: $('#studentFormSerialize').serialize(),
                success: function (response) {
                    console.log(response);
                    debugger;
                    //$('#actionContainer').html('');
                    //focusAction('tableContainer');
                    swal("Record has been inserted successfully !! " + response.status);
                },
                error: function (error) {
                    debugger;
                    console.log(error)
                    if (error) {
                        swal("Oop's something went wrong !! " + error.status);
                        return false;
                    }
                    
                }
            });
        });

        //--> Cancel button functionality.
        $('#cancelButton').click(function () {
            $('#actionContainer').html('');
            focusAction('tableContainer');
        });

    });  //--> Here is close document ready function();
</script>