
@{
    ViewBag.Title = "Index";
}

<div class="tableContainer">
    @{
        Html.RenderAction("Listing");
    }
</div>

<div id="actionContainer">
    <!--  **In this div Create and Edit form will appear -->
</div>

<script>
    function focusAction(controlToFocus) {
        $('html,body').animate({
            scrollTop: $('#' + controlToFocus).offset().top - 100
        }, 4000);
    }
</script>