
@{
    ViewBag.Title = "Index";
}


<div class="container">
    @if (TempData["InsertMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Holy guacamole!</strong> @TempData["InsertMessage"].
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
</div>

<div class="tableContainer">
    @{
        Html.RenderAction("Listing");
    }
</div>

<div id="actionContainer">
    <!--  **In this div Create and Edit form will appear -->
</div>

<script>
    function focusAction(controlToFocus) {
        $('html,body').animate({
            scrollTop: $('#' + controlToFocus).offset().top - 100
        }, 4000);
    }
</script>