
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_UniversityLayout.cshtml";
}

<div class="container">
    <section class="section-heading mt-1 mb-1">
        <div class="heading">
            <h3>About Us</h3>
        </div>
    </section>
    <p class="dark-border-top"/>
    <section>
        <p style="font-size:2rem; line-height:2;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum culpa, ex aperiam doloribus dignissimos distinctio praesentium. Fuga nam cumque aliquam magni voluptatibus nesciunt illo quas cupiditate? Id, reprehenderit veritatis earum aspernatur delectus cupiditate fugiat dolore quam atque beatae molestias maiores facilis dignissimfugiat aut accusamus! Amet corporis aperiam ducimus facilis libero nisi deleniti fuga tempore similique debitis, beatae quisquam totam quaerat voluptatibus autem quia impedit enim sit, vero voluptates eos magnam sed animi? Aspernatur, necessitatibus aut accusamus tempora error nisi obcaecati velit aperiam modi, provident doloremque natus fugit accusantium, id voluptatum porro repudiandae earum sunt cum harum perspiciatis ullam minus. Maxime iusto distinctio dolorum hic, consectetur quos fuga ut repellat provident similique, aut quasi praesentium perspiciatis magnam corrupti, dolore ad ea voluptatibus doloremque quod dolores. Corrupti cum at tenetur nobis dicta qui neque magni esse laboriosam id, provident asperiores suscipit reprehenderit. Cumque vitae eveniet reiciendis veniam dolor ratione obcaecati ullam in ut sint, nihil consequatur veritatis et, suscipit, debitis deleniti totam odit. Minus placeat culpa suscipit, corporis delectus harum, porro fuga ab magni sapiente fugit voluptatibus nihil cupiditate nemo ipsa quas quaerat molestias nostrum maiores laborum sit soluta? Ex deleniti, laboriosam repellat voluptates vitae, animi et repellendus, expedita molestias eius neque laudantium iste eum. Similique nam vel quis delectus,
        </p>
    </section>
</div>

