@model IEnumerable<BusinessEntity.CourseEntity>

@{
    ViewBag.Title = "Addmission";
    Layout = "~/Views/Shared/_UniversityLayout.cshtml";
}

<section class="section-form">
    <div class="container">
        <div class="form-wrapper">
            <h2 class="heading">Registeration</h2>
            <form class="form">
                <div class="input-box flex">
                    <div>
                        <label for="">Name</label>
                        <input type="text" placeholder="Enter Name*">
                    </div>
                    <div>
                        <label for="">Age</label>
                        <input type="text" placeholder="Enter Age*">
                    </div>
                </div>
                <div class="input-box flex">
                    <div>
                        <label for="">Name</label>
                        <input type="text" placeholder="Enter Name*">
                    </div>
                    <div>
                        <label for="">Age</label>
                        <input type="text" placeholder="Enter Age*">
                    </div>
                </div>
                <div class="input-box flex">
                    <div>
                        <label for="">Name</label>
                        <input type="text" placeholder="Enter Name*">
                    </div>
                    <div>
                        <label for="">Age</label>
                        <input type="text" placeholder="Enter Age*">
                    </div>
                </div>
                <div class="radio-button mb-1">
                    <div>
                        <label for="Gender" class="display-block">Gender</label>
                        <select name="" id="">
                            <option value="" selected>--Select*</option>
                            <option value="">Male</option>
                            <option value="">Female</option>
                            <option value="">Others</option>
                        </select>
                    </div>
                </div>
                <div class="radio-button course-selection">
                    <div>
                        <label for="Gender" class="display-block">Select Course</label>
                        <select name="CourseID" id="">
                            <option value="" selected>--Select*</option>
                            @foreach (var course in Model)
                            {
                                <option value="@course.ID" >@course.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="buttons">
                    <div class="btn-wrapper flex justify-end items-center">
                        <a href="#">Register</a>
                        <a href="#">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

