
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UniversityLayout.cshtml";
}

<!--  --------------------------- main ---------------------\
  ----  ---------------------------------------------------------------------------------->
<main class="main-section">
    <div class="container">
        <section class="main-slider mt-1 thin-border">
            <!-- Swiper -->
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"> <img src="~/Content/ThemeMaterial/Assets/AzureDevops.png" alt="logo"> </div>
                    <div class="swiper-slide"> <img src="~/Content/ThemeMaterial/Assets/microsoft.gif" alt="logo"> </div>
                    <div class="swiper-slide"> <img src="~/Content/ThemeMaterial/Assets/preview_9290a0d4544d79be552c190170afe17c.jpg" alt="logo"> </div>
                    <div class="swiper-slide"> <img src="~/Content/ThemeMaterial/Assets/AzureDevops.png" alt="logo"> </div>
                    <div class="swiper-slide"> <img src="~/Content/ThemeMaterial/Assets/png-clipart-c-logo-c-programming-language-computer-icons-computer-programming-programming-miscellaneous-blue.png" alt="logo"> </div>
                    <div class="swiper-slide"> <img src="~/Content/ThemeMaterial/Assets/OIP.jpg" alt="logo"> </div>
                    <div class="swiper-slide"> <img src="~/Content/ThemeMaterial/Assets/vstsfeature.png" alt="logo"> </div>
                    <div class="swiper-slide"> <img src="~/Content/ThemeMaterial/Assets/R.png" alt="logo"> </div>
                    <div class="swiper-slide"> <img src="~/Content/ThemeMaterial/Assets/linq.png" alt="logo"> </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>

        <section class="section-heading mt-1">
            <div class="heading">
                <h3>Enroll Now</h3>
            </div>
        </section>

        <section class="course-slider mt-1 thin-border">
            <!-- Swiper -->
            <div class="swiper course-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide thin-border-right"> <a href="#"><img src="~/Content/ThemeMaterial/Assets/86916754-6b0c9380-c167-11ea-901b-78571ad4065d.png" alt="logo"></a> </div>
                    <div class="swiper-slide thin-border-right"> <a href="#"><img src="~/Content/ThemeMaterial/Assets/AzureDevops.png" alt="logo"></a> </div>
                    <div class="swiper-slide thin-border-right"> <a href="#"><img src="~/Content/ThemeMaterial/Assets/Bitmap-MEDIUM_ASP.NET-Core-MVC-Logo_2colors_Square_Boxed_RGB.png" alt="logo"></a> </div>
                    <div class="swiper-slide thin-border-right"> <a href="#"><img src="~/Content/ThemeMaterial/Assets/linq.png" alt="logo"></a> </div>
                    <div class="swiper-slide thin-border-right"> <a href="#"><img src="~/Content/ThemeMaterial/Assets/vstsfeature.png" alt="logo"></a> </div>
                    <div class="swiper-slide thin-border-right"> <a href="#"><img src="~/Content/ThemeMaterial/Assets/microsoft.gif" alt="logo"></a> </div>
                    <div class="swiper-slide thin-border-right"> <a href="#"><img src="~/Content/ThemeMaterial/Assets/OIP.jpg" alt="logo"></a> </div>
                    <div class="swiper-slide thin-border-right"> <a href="#"><img src="~/Content/ThemeMaterial/Assets/png-clipart-c-logo-c-programming-language-computer-icons-computer-programming-programming-miscellaneous-blue.png" alt="logo"></a> </div>
                    <div class="swiper-slide thin-border-right"> <a href="#"><img src="~/Content/ThemeMaterial/Assets/preview_9290a0d4544d79be552c190170afe17c.jpg" alt="logo"></a> </div>
                    <div class="swiper-slide thin-border-right"> <a href="#"><img src="~/Content/ThemeMaterial/Assets/R.png" alt="logo"></a> </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
    </div>
</main>

<!--  --------------------------- section-news ---------------------\
----  ---------------------------------------------------------------------------------->
<section class="section-news mt-1">
    <div class="container">
        <div class="heading">
            <h3>News</h3>
        </div>
        <div class="news-wrapper thin-border mt-1 dark-border-top">
            <div class="news">
                <p class="flex">
                    <span class="mr-1"><i class="fa-solid fa-circle-arrow-right"></i></span>
                    <marquee behavior="" direction="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque nam obcaecati ad ut ipsa explicabo assumenda magnam similique! Tempora provident perspiciatis veniam iste facere expedita temporibus fugiat maxime sapiente. Pariatur.</marquee>
                </p>
                <p class="flex">
                    <span class="mr-1"><i class="fa-solid fa-circle-arrow-right"></i></span>
                    <marquee behavior="" direction="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque nam obcaecati ad ut ipsa explicabo assumenda magnam similique! Tempora provident perspiciatis veniam iste facere expedita temporibus fugiat maxime sapiente. Pariatur.</marquee>
                </p>
                <p class="flex">
                    <span class="mr-1"><i class="fa-solid fa-circle-arrow-right"></i></span>
                    <marquee behavior="" direction="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque nam obcaecati ad ut ipsa explicabo assumenda magnam similique! Tempora provident perspiciatis veniam iste facere expedita temporibus fugiat maxime sapiente. Pariatur.</marquee>
                </p>
            </div>
        </div>
    </div>
</section>

<!--  --------------------------- section-alert ---------------------\
----  ---------------------------------------------------------------------------------->
<section class="section-alert mt-1">
    <div class="container">
        <div class="heading">
            <h3 class="red">Alerts</h3>
        </div>
        <div class="addmission-wrapper flex flex-wrap justify-between dark-border-top thin-border p mt-1">
            <div class="addmission-form mt-1 mb-2">
                <p class="flex">
                    <span class="mr-1"><i class="fa-solid fa-circle-arrow-right"></i></span>
                    <!-- <i class="fa-solid fa-circle-right"></i> -->
                    <!-- <marquee behavior="" direction=""> -->
                    <strong>Addmission Open For 2022 January Sesstion</strong>
                    <!-- </marquee> -->

                </p>
                <a href="@Url.Action("Addmission", "University")" class="a-btn display-inline-block mt-1 ml-2" target="_blank">Register Now</a>
            </div>

            <div class="addmission-form mt-1 mb-2">
                <p class="flex">
                    <span class="mr-1"><i class="fa-solid fa-circle-arrow-right"></i></span>
                    <!-- <i class="fa-solid fa-circle-right"></i> -->
                    <!-- <marquee behavior="" direction=""> -->
                    <strong>Addmission Open For 2022 January Sesstion</strong>
                    <!-- </marquee> -->

                </p>
                <a href="#" class="a-btn display-inline-block mt-1 ml-2">Register Now</a>
            </div>

            <div class="examination-form mt-1">
                <p class="flex">
                    <span class="mr-1"><i class="fa-solid fa-circle-arrow-right"></i></span>
                    <!-- <i class="fa-solid fa-circle-right"></i> -->
                    <!-- <marquee behavior="" direction=""> -->
                    <strong>Addmission Open For 2022 January Sesstion</strong>
                    <!-- </marquee> -->

                </p>
                <a href="#" class="a-btn display-inline-block mt-1 mr-2 ml-2">Register Now</a>
            </div>
        </div>

    </div>
</section>